/* #header {
    background: #2c3e50;
    color: #ffffff;
}

#branding h1 {
    color: #ecf0f1;
}

.module h2, .module caption, .inline-group h2 {
    background: #34495e;
}

div.breadcrumbs {
    background: #2980b9;
}

a:link, a:visited {
    color: #2980b9;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2980b9;
}

.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #3498db;
}

#nav-sidebar .current-model {
    background: #34495e;
}

.object-tools a:link, .object-tools a:visited {
    background: #2980b9;
}

.object-tools a:hover {
    background: #3498db;
}

#changelist-filter h2 {
    background: #34495e;
}

#changelist-filter li.selected a {
    color: #2980b9;
}

.selector-chosen h2 {
    background: #34495e !important;
}

.calendar td a:hover {
    background: #2980b9;
}

.calendar td.selected a {
    background: #2980b9;
} */